@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@source "./**/*.{html,ts,scss}";


.scrollbar-hidden {
  -ms-overflow-style: none; /* IE/Edge antigo */
  scrollbar-width: none;    /* Firefox */

  &::-webkit-scrollbar {
    display: none;          /* Chrome/Safari */
  }
}


html {
  font-family: "Archivo", sans-serif;
}
